@use '../variables';
@use '../mixins';

.traits{
    .attributes{
        @include mixins.default-grid;

        &__heading{
            cursor: default;
        }

        &__name{
            width: max-content;
            cursor: default;
        }
    }
}