@use 'variables';
@use 'mixins';

.battle-map{
    @include mixins.default-grid;
    grid-auto-rows: max-content;
    place-items: center center;
    padding-top: 0.75rem;

    .stage{
        background: black;
    }
}