@use 'variables';
@use 'mixins';

.home{
    @include mixins.default-grid;
    grid-auto-rows: max-content;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5rem 1rem 0rem;

    &__title{
        color: whitesmoke;
        font-family: 'Prata', serif;
    }

    .menu{
        margin-top: 2rem;

        &__option{
            width: 100%;
        }
    }
}